@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

:root{
    --bg-grad-01: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --bg-grad-02: linear-gradient(135deg, #f8bfbf, #ee8c8c);
    --primary-color-desaturated-red: hsl(0, 36%, 70%);
    --neutral-dark-grayish-red: hsl(0, 6%, 24%);
    --primary-color-soft-red: hsl(0, 93%, 68%);
    --success-color:#2ecc71;
    --error-color: #e74c3c;
}

*{
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff6f5;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: visible;
    font-size: 16px;
    display: flex;
}

.grid-container{
    max-width: 1920px;
    max-height: 1080px;
}

.logo{
    margin: 10px 5px;
}

.header-content{
    text-transform: uppercase;
    flex-direction: column;
    text-align: center;
    display: flex;
}

.first-word{
    color: var(--primary-color-desaturated-red);
    font-weight: 300;
}

.text-content{
    color: var(--primary-color-desaturated-red);
    text-align: center;
    line-height: 2;
}

.form{
    margin: 20px 0;
}

/* Input Container */
.input-container{
    border: 1px solid var(--primary-color-desaturated-red);
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
}

.input-field{
    background-color: transparent;
    padding-left: 20px;
    width: 100%;
    border: 0;
}

.input-field::placeholder{
    color: var(--primary-color-desaturated-red);
}

.error-container li{
    color: var(--primary-color-soft-red);
    padding: 10px 0 0 20px;
    list-style-type: none;
    font-weight: 600;
}

.input-field:active, .input-field:focus{
    outline: none;
}

.buttons-icons-container{
    align-items: center;
    display: flex;
}

.icon-error{
    padding-right: 10px;
    visibility: hidden;
}

.submit{
    background-image: linear-gradient(to right, hsl(0, 80%, 86%),  hsl(0, 74%, 74%));
    border-radius: 30px;
    padding: 10px 30px;
    border: 0;
}

.submit:hover{
    -webkit-box-shadow: 0px 4px 23px -4px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 4px 23px -4px rgba(0,0,0,0.52);
    box-shadow: 0px 4px 23px -4px rgba(0,0,0,0.52);
    background: #f8bfbf;
    transform: scale(1.1);
    transition: 0.3s ease;
    cursor: pointer;
}
/* End of input container */

.hero-desktop-container{
    display: none;
}

.hero-mobile{
    width: 100vw;
}

@media screen and (min-width: 768px) {
    body{
        overflow: hidden;
    }

    .grid-container{
        background-image: url('./images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-size: 65% 100%;
        grid-template-columns: 6fr 4fr;
        grid-template-rows: auto 220px;
        padding-left: 5%;
        column-gap: 2%;
        height: 100dvh;
        display: grid;
        width: 100%;
    }

    /* Logo */
    .logo{
        align-items: center;
        margin: 10px 0;
        grid-column: 1;
        display: flex;
        grid-row: 1;
    }
    /* End of Logo */

    /* Grid-Header */
    .header{
        align-items: center;
        grid-column: 1;
        display: flex;
        grid-row: 2;
    }

    .header-content{
        text-align: start;
        font-size: 4em;
    }
    /* End of Grid-Header */

    /* Grid-Text */
    .text{
        display: flex;
        align-items: center;
        line-height: 2;
        grid-column: 1;
        grid-row: 3;
    }

    .text-content{
        display: flex;
        align-items: center;
        text-align: start;
        height: 100%;
        width: 100%;
        max-width: 450px;
    }
    /* End of Grid-Text */

    .form{
        margin: 0;
        grid-column: 1;
        grid-row: 4;
    }

    .input-container{
        width: 100%;
        max-width: 450px;
    }

    .hero-mobile-container{
        display: none;
    }

    /* Grid-Desktop */
    .hero-desktop-container{
        display: block;
        grid-column: 2;
        grid-row: 1/5;
        /* height: 100vh; */
        background-image: url('./images/hero-desktop.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero-desktop{
        height: 100%;
    }
    /* End of Grid-Desktop */
}