@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

:root{
    --bg-grad-01: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --bg-grad-02: linear-gradient(135deg, #f8bfbf, #ee8c8c);
    --primary-color-desaturated-red: hsl(0, 36%, 70%);
    --neutral-dark-grayish-red: hsl(0, 6%, 24%);
    --primary-color-soft-red: hsl(0, 93%, 68%);
    --success-color:#2ecc71;
    --error-color: #e74c3c;
}

*{
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 16px;
}

body{
    background-color: #fff6f5;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    overflow: none;
}

.grid-container{
    width: 100%;
}

.inner-grid-item{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
}

.inner-grid-item-logo .logo{
    margin: 30px 0 30px 10px;
    transform: scale(0.7);
    display: block;
}

/* Start of Header */
.inner-grid-item .header-content{
    color: var(--neutral-dark-grayish-red);
    text-transform: uppercase;
    justify-content: center;
    flex-direction: column;
    margin: 80px 0 10px 0;
    letter-spacing: 10px;
    align-items: center;
    font-size: 250%;
    display: flex;
}

.first-word{
    color: var(--primary-color-desaturated-red);
    font-weight: 300;
}
/* End of Header */

.hero-desktop{
    display: none;
}

.hero-mobile{
    display: block;
    width: 100%;
}

.inner-grid-item .text-content{
    color: var(--primary-color-desaturated-red);
    margin: 20px 0 30px 0;
    text-align: center;
    font-size: 100%;
    line-height: 2;
    width: 350px;
}

/* Styling the input field email address */
.input-container{
    border: 1px solid var(--primary-color-desaturated-red);
    justify-content: space-between;
    border-radius: 30px;
    display: flex;
    margin: 0;
}

.input-field{
    background-color: transparent;
    padding-left: 20px;
    outline: none;
    width: 100%;
    border: 0;
}

.input-field::placeholder{
    color: var(--primary-color-desaturated-red);
    opacity: 0.7;
}
/* End of styling the input field email address */

/* Styling the Buttons */
.buttons-icons-container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    display: grid;
    gap: 10px;
}

.submit{
    background-image: linear-gradient(to right, hsl(0, 80%, 86%),  hsl(0, 74%, 74%));
    border-radius: 30px;
    padding: 10px 30px;
    border: 0;
}

.submit:hover{
    -webkit-box-shadow: 0px 4px 23px -4px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 4px 23px -4px rgba(0,0,0,0.52);
    box-shadow: 0px 4px 23px -4px rgba(0,0,0,0.52);
    background: #f8bfbf;
    transform: scale(1.1);
    transition: 0.3s ease;
    cursor: pointer;
}
/* End of Styling the Buttons */

/* Styling the error pop-up */
.error-container{
    margin: 0 0 100px 0;
}

.error-container li{
    color: var(--primary-color-soft-red);
    list-style-type: none;
    margin: 10px 0 0 20px;
    font-weight: 600;
}

.icon-error{
    visibility: hidden;
}

/* End of styling the error pop-up */

@media screen and (max-width: 320px) {
    .inner-grid-item .text-content{
        padding: 0 5px 5px 5px;
        font-size: 80%;
        width: 280px;
    }

    .input-container{
        margin: 0 5px 0 5px;
    }
}

/* @media screen and (min-width: 920px) { */
    /* @media screen and (orientation: landscape) { */
@media screen and (min-width: 576px) {
    /* Display */
    body{
        overflow: hidden;
    }
    .hero-desktop{
        display: block;
        height: 100vh;
        width: auto;
    }

    .hero-mobile{
        display: none;
    }
    /* End of Display */

    .grid-container{
        background-image: url("./images/bg-pattern-desktop.svg"), var(--bg-grad-01), var(--bg-grad-02);
        grid-template-columns: 7fr 3fr;
        background-repeat: no-repeat;
        background-size: 65% 100%;
        display: grid;
        height: 100vh;
        width: 100vw;
    }


    /* Logo */
    .inner-grid-item-logo .logo{
        transform: none;
        display: block;
        margin: 50px 0 100px 120px;
    }
    /* End of logo */
    
    .inner-grid-item{
        justify-content: flex-start;
        display: flex;
    }

    .inner-grid-item .header-content{
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 0 20px 120px;
        font-size: 350%;
        display: flex;
    }

    .inner-grid-item .text-content{
        color: var(--primary-color-desaturated-red);
        margin: 0 50px 0 120px;
        text-align: start;
        font-size: 80%;
        width: 350px;
    }

    .input-container{
        margin: 30px 0 0 120px;
    }

    .error-container li{
        margin: 10px 0 0 140px;
    }
}
